#menu_home {
    width: 95%;
    margin-right: 5px;
    background-color: #f1f1f1;
    border: 0.5px solid #d9dbdd;
}

#menu_home>.menu_left {
    background-image: url(../icon/left.png);
    background-size: 10px;
    width: 10px;
    height: 10px;
}

#home_page {
    text-align: center;
    font-family: 'Al_Jazeera';
    font-size: 10px;
    padding: 20px;
    color: #6e1f09;
}


#hisnmuslim {
    width: 80%;
    background-color: #f8f8f8;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


#hisnmuslim_book {
    max-width: 10%;
}

#hisnmuslim_text {
    margin-right: 10px;
    font-size: 13px;
    color: #a74023;
}

#random_title {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#random {
    width: 80%;
    display: block;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;

}

#random:hover {
    box-shadow: rgba(0, 0, 0, 0.055) 0px 4px 12px;
}

#random_top_title {
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
    color: #a74023;
    margin-bottom: 0px;
}

#random_top {
    margin-top: 0px;
    font-size: 14px;
    padding: 10px;
}

#random_audio {
    border: 0.5px solid #d0d3d6;
    border-radius: 50px;
}

#random_bottom {
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-evenly;
    padding: 7px;
    border: 0.5px solid #d0d3d6;
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 12px;
}

#random_bottom p {
    margin: 0 0 0 0;
    cursor: pointer;
}

#random_bottom p:hover {
    color: #a74023;
}

/* alrt */

#alrt {
    display: none;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    z-index: 1;
}

#alrt_text {
    margin-left: 180px;
    margin-top: 220px;
}

#alrt_p {
    width: 50%;
    padding: 15px;
    background-color: #f1f1f1;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 0.5px solid #d0d3d6;
    font-family: 'Al_Jazeera';
    font-size: 13px;
    color: #6e1f09;
}