#menu_info {
    width: 95%;
    margin-right: 5px;
    background-color: #f1f1f1;
    border: 0.5px solid #d9dbdd;
}

#menu_info>.menu_left {
    background-image: url(../icon/left.png);
    background-size: 10px;
    width: 10px;
    height: 10px;
}

#info_page {
    text-align: center;
    font-family: 'Al_Jazeera';
    font-size: 10px;
    padding: 20px;
    color: #6e1f09;
}

#author_title {
    margin-top: 10px;
    font-size: 16px;
}

#author {
    width: 80%;
    background-color: #f8f8f8;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}


#author_img {
    max-width: 20%;
    border-radius: 50%;
}

#author_text {
    margin-right: 10px;
    font-size: 13px;
    color: #a74023;
}


#space {
    width: 50%;
    border-bottom: 1px solid #ddd;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}


#Developer_title {
    margin-top: 30px;
    font-size: 16px;
}

#Developer {
    width: 30%;
    background-color: #f8f8f8;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}


#Developer_img {
    width: 90px;
    border-radius: 50%;
}

#Developer_div {
    width: 100%;
    display: flex;
    margin-right: 10px;
    font-size: 13px;
    justify-content: center;
}

.icon_Developer {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

#Copyright {
    margin-top: 100px;
    font-family: 'Courier New', Courier, monospace;
}